[mysql]

# CLIENT #
port                            = 3306
socket                          = /var/lib/mysql/mysql.sock

[mysqld]

# GENERAL #
user                            = mysql
default-storage-engine          = MYISAM
socket                          = /var/lib/mysql/mysql.sock
pid-file                        = /var/lib/mysql/mysql.pid

character-set-server            = utf8
collation-server                = utf8_unicode_ci
skip-character-set-client-handshake
init-connect                    = 'SET collation-connection = utf8_unicode_ci'
init-connect                    = 'SET NAMES utf8'

#sql_mode                       = "ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
#sql_mode                        = "NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
skip-name-resolve

max-allowed-packet              = 64M
read-buffer-size                = 16M
max-connect-errors              = 1000


# MyISAM #
key-buffer-size                 = 128M
sort_buffer_size                = 64M


# SAFETY #
max-allowed-packet              = 16M
max-connect-errors              = 1000000

# DATA STORAGE #
datadir                         = /var/lib/mysql/data

# BINARY LOGGING #
log-bin                         = /var/lib/mysql/bin/log
expire-logs-days                = 7
sync-binlog                     = 1
max-binlog-size                 = 256M

#
slave-skip-errors               = 1062,1194


# REPLICATION #
server_id                       = 1
skip-slave-start                = 1
log-slave-updates               = 1
relay-log                       = /var/lib/mysql/relay/log
slave-net-timeout               = 60
sync-master-info                = 1
sync-relay-log                  = 1
sync-relay-log-info             = 1
relay-log-space-limit           = 256M

# CACHES AND LIMITS #
max-heap-table-size             = 256M
tmp-table-size                  = 256M
query-cache-type                = 0
query-cache-size                = 0
max-connections                 = 500
thread-cache-size               = 50
open-files-limit                = 65535
table-definition-cache          = 4096
table-open-cache                = 4096

# INNODB #
#innodb-file-per-table
innodb_file_per_table           = 1
innodb-flush-method             = O_DIRECT
innodb-log-files-in-group       = 2
innodb-log-file-size            = 5242880
innodb-log-buffer-size          = 8M
innodb-flush-log-at-trx-commit  = 1
innodb-file-per-table           = 1
innodb-buffer-pool-size         =256M
innodb-page-size                = 16384

# LOGGING #
log-error                       = /var/lib/mysql/error.log
#log-queries-not-using-indexes  = 1
slow-query-log                  = 1
slow-query-log-file             = /var/lib/mysql/slow.log
